<template>
  <!-- <v-footer :fixed="fixed" app>
    <span>&copy; 2019</span>

    <v-spacer></v-spacer>

    <v-btn title="Go to top" @click="$vuetify.goTo(0)" name="temp">Go to Top</v-btn>
  </v-footer>-->

  <v-footer height="auto">
    <v-card class="flex" flat tile>
      <v-card-title>
        <strong class="subheading">
          &copy;{{year}} —
          <b>Vyperion</b>
        </strong>

        <v-spacer></v-spacer>

        <v-btn v-for="icon in icons" :key="icon" class="mx-3" icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>

        <v-btn title="Go to top" @click="$vuetify.goTo(0)" name="temp">Go to Top</v-btn>
      </v-card-title>

      <v-card-actions class="caption justify-center">
        All product names, logos, and brands are property
        of their respective owners. All company, product
        and service names used in this website are for identification
        purposes only with no endorsment implication.
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    fixed: false,
    year: new Date().getFullYear(),
    icons: [
      "fab fa-github",
      "fab fa-linkedin"
      // "fab fa-facebook",
      // "fab fa-twitter",
      // "fab fa-google-plus"
    ]
  })
};
</script>

<style>
</style>
