<template>
  <div>
    <v-navigation-drawer v-model="drawer" :mini-variant="miniVariant" :clipped="clipped" fixed app>
      <v-list>
        <v-list-tile v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-tile-action name="temp">
            <v-icon name="temp">{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content name="temp">
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :clipped-left="clipped" fixed app name="temp">
      <v-toolbar-side-icon @click="drawer = !drawer" name="temp" />

      <v-avatar size="180">
        <v-img :src="image" contain></v-img>
      </v-avatar>

      <v-btn flat name="temp">
        <v-switch label="Mode" class="pt-1" v-model="mode" @change="setDarkMode($event)"></v-switch>
      </v-btn>

      <v-spacer />
      
      <v-toolbar-items v-for="(link, i) in items" :key="i" :to="link.to" class="hidden-sm-and-down">
        <v-btn :to="link.to" flat router exact name="temp">{{link.title}}</v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "Navigation",
  data: () => ({
    image: require("~/assets/logo.png"),
    items: [
      {
        icon: "apps",
        title: "Home",
        to: "/"
      },
      {
        icon: "bubble_chart",
        title: "Technology",
        to: "/technology"
      },
      {
        icon: "bubble_chart",
        title: "About",
        to: "/about"
      }
    ],
    clipped: false,
    drawer: false,
    miniVariant: false,
    title: "Vyperion",
    mode: false
  }),
  methods: {
    setDarkMode(value) {
      if (value === null) {
        this.mode = false;
        this.$store.commit("theme/setDarkMode", false);
      } else {
        this.mode = value;
        this.$store.commit("theme/setDarkMode", value);
      }
      location.reload();
    },
    getTheme() {
      if (process.client && localStorage.getItem("vuex")) {
        this.mode = JSON.parse(localStorage.getItem("vuex")).theme.darkMode;
      }
    }
  },
  mounted() {
    this.getTheme();
  }
};
</script>

<style scoped>
</style>

