<template>
  <v-flex>
    <v-card>
      <v-img :src="image" aspect-ratio="4">
        <v-layout  row wrap fill-height align-center>
          <v-flex>
            <v-card class="transparent elevation-0">
              <v-layout row wrap>
                <v-flex xs12 lg6>
                  <v-card class="transparent elevation-0">
                    <v-card-title class="display-1 justify-center white--text">About Me</v-card-title>
                    <!-- desktop -->
                    <v-card-text class="title hidden-sm-and-down font-weight-regular white--text">
                      I'm Amanwil Kasy, a graduate from Liberty University with a degree in
                      application and database development. Along with my education I have a strong
                      background in frontend, backend, and database development. I created Vyperion as
                      a learning platform and a place to implement new ideas, concepts and technologies
                      as I learn them. Feel free to reach out or use the code provided to create your own
                      microservice project.
                    </v-card-text>

                    <!-- mobile -->
                    <v-card-text class="subheading hidden-lg-and-up white--text">
                      I'm Amanwil Kasy, a graduate from Liberty University with a degree in
                      application and database development. Along with my education I have a strong
                      background in frontend, backend, and database development. I created Vyperion as
                      a learning platform and a place to implement new ideas, concepts and technologies
                      as I learn them. Feel free to reach out or use the code provided to create your own
                      microservice project.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 lg6>
                  <v-card height="400">
                    <v-list subheader class="transparent">
                      <v-subheader>Contact</v-subheader>
                      <v-list-tile v-for="item in items" :key="item.title" avatar>
                        <v-btn icon name="temp" :href="item.link" target="_blank">
                          <v-icon>{{item.icon}}</v-icon>
                        </v-btn>

                        <v-list-tile-content>
                          <v-list-tile-title>{{item.title}}</v-list-tile-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                          <v-btn icon :href="item.link" target="_blank">
                            <v-icon name="temp">exit_to_app</v-icon>
                          </v-btn>
                        </v-list-tile-action>
                      </v-list-tile>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-img>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    image: require("~/assets/computer.jpg"),
    items: [
      {
        title: "amanwilk@gmail.com",
        icon: "fas fa-envelope",
        link: "mailto: amanwilk@gmail.com"
      },
      {
        title: "Northern VA",
        icon: "fas fa-map-marker-alt",
        link: "https://en.wikipedia.org/wiki/Northern_Virginia"
      },
      {
        title: "Github",
        icon: "fab fa-github",
        link: "https://github.com/amanwilkasy"
      },

      {
        title: "Linkedin",
        icon: "fab fa-linkedin",
        link: "http://linkedin.com/in/amankasy"
      }
    ]
  })
};
</script>

<style>
</style>
