<template>
  <!-- cards -->
  <v-flex>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex xs12>
          <div class="text-xs-center">
            <h2 class="headline text-uppercase">The great three technologies behind great websites</h2>
            <!-- <h5 class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5> -->
          </div>
        </v-flex>
        <v-flex xs12 md4 lg4>
          <v-card class="elevation-0 transparent">
            <v-card-text class="text-xs-center">
              <v-icon x-large class="blue--text text--lighten-2">fas fa-laptop-code</v-icon>
            </v-card-text>
            <v-card-title primary-title class="layout justify-center headline">Frontend & Design</v-card-title>
            <v-card-text class="subheading">
              The presentation layer where users interact with a website.
              Frontend applications are built using HTML, CSS, and Javascript.
              Popular frameworks make building and elegant front end easier than before.
            </v-card-text>
            <v-card-actions>
              <v-btn href="/technology/type/2" name="temp">Learn more</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex xs12 md4 lg4>
          <v-card class="elevation-0 transparent">
            <v-card-text class="text-xs-center">
              <v-icon x-large class="blue--text text--lighten-2">fas fa-server</v-icon>
            </v-card-text>
            <v-card-title primary-title class="layout justify-center headline">Backend & Databases</v-card-title>
            <v-card-text class="subheading">
              Backend technologies refer to the business logic under
              the hood of dynamic websites. Java, C#, and Python are mature
              languages paired with a number of databases in driving a data driven site.
            </v-card-text>
            <v-card-actions>
              <v-btn href="/technology/type/2" name="temp">Learn more</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-flex xs12 md4 lg4>
          <v-card class="elevation-0 transparent">
            <v-card-text class="text-xs-center">
              <v-icon x-large class="blue--text text--lighten-2">fas fa-cloud</v-icon>
            </v-card-text>
            <v-card-title
              primary-title
              class="layout justify-center headline"
            >Cloud & Dev Tools</v-card-title>
            <v-card-text class="subheading">
              The mysterious cloud is nothing but services used
              to help deploy, store, and host websites. Web services like AWS and Azure
              make it easier than ever to enhance a website with a plethora of service.
            </v-card-text>
            <v-card-actions>
              <v-btn href="/technology/type/4" name="temp">Learn more</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>
export default {};
</script>

<style>
</style>
