<template>
  <!-- carousel -->
  <v-flex xs12>
    <v-container grid-list-lg fluid>
      <v-layout row wrap>
        <v-flex xs12 lg6 align-self-center>
          <v-card class="elevation-0 transparent">
            <v-card-text class="text-xs-center">
              <v-icon x-large class="blue--text text--lighten-2">fas fa-info-circle</v-icon>
            </v-card-text>
            <v-card-title class="display-1 justify-center" primary-title>About Vyperion</v-card-title>
            <v-card-text>
              <div class="headline hidden-sm-and-down">
                Along with being a growing web development catalog, Vyperion is
                a recents graduate's side project for learning and implementing various technologies
                on microservices. This website is built using powerful modern day technologies and
                frameworks like Vue.js, Node.js, Nuxt.js, Java, SpringBoot, PostgreSQL,
                AWS, Heroku and much more. To learn more head to the about page.
              </div>
              <div class="subheading hidden-lg-and-up">
                Along with being a growing web development catalog, Vyperion is
                a recents graduate's side project for learning and implementing various technologies
                on micro services.This website is built using powerful modern day technologies and
                frameworks like Vue.js, Node.js, Nuxt.js, Java, SpringBoot, PostgreSQL,
                AWS, Heroku and much more. To learn more head to the about page.
              </div>
            </v-card-text>

            <v-btn href="/about" name="about">About</v-btn>
          </v-card>
        </v-flex>
        <v-flex xs12 lg6>
          <v-card light class="elevation-0">
            <v-carousel hide-controls>
              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src" contain></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        src: "https://vyperion.s3.amazonaws.com/logo/vue.svg"
      },
      {
        src: "https://vyperion.s3.amazonaws.com/logo/aws.svg"
      },
      {
        src: "https://vyperion.s3.amazonaws.com/logo/java.svg"
      },
      {
        src: "https://vyperion.s3.amazonaws.com/logo/postgresql.svg"
      }
    ]
  })
};
</script>

<style>
</style>
