<template>
  <v-flex xs12>
    <v-parallax :src="image">
      <v-layout column align-center justify-center>
        <!-- mobile -->
        <div class="hidden-lg-and-up">
          <h4 class="display-1 font-weight-thin">Explore & Learn</h4>
          <br />
          <h5
            class="headline font-weight-thin"
          >Learn and explore the vast technologies and tools used to build the internet experience.</h5>
          <br />
        </div>

        <!-- desktop -->
        <div class="hidden-sm-and-down">
          <h3 class="display-2 font-weight-thin">A growing catalog of web development technologies.</h3>
          <br />
          <h5
            class="headline font-weight-thin"
          >Learn and explore the vast technologies and tools used to build the internet experience.</h5>
          <br />
        </div>

        <v-btn large href="/technology" name="temp">Get Started</v-btn>
      </v-layout>
    </v-parallax>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    image: require("~/assets/head.jpg"),
    mode: true
  })
};
</script>

<style>
</style>
