<template>
  <v-app :dark="getTheme">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <meta name="robots" content="noindex" />

    <Navigation />
    <v-content>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-content>
    <Footer />
  </v-app>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data: () => ({}),
  components: {
    Navigation: () => import("~/components/Navigation"),
    Footer: () => import("~/components/Footer")
  },
  computed: {
    getTheme() {
      if (process.client) {
        if (localStorage.getItem("vuex")) {
          return JSON.parse(localStorage.getItem("vuex")).theme.darkMode;
        } else {
          return false;
        }
      }
    }
  }
};
</script>
