<template>
  <v-container grid-list-sm>
    <v-layout row wrap>
      <v-flex xs12 lg4>
        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              <div>
                <div class="headline">Client</div>
                <p class="subheading">
                  Technologies used:
                  <b>HTML, CSS, Javascript, Vue.js, Nuxt.js, Express.js, Node.js, Docker</b>
                </p>

                <div
                  class="subheading"
                >Combines multiple frontend technologies to deliver a powerful and responsive design.</div>
              </div>
            </v-card-title>
            <v-card-title primary-title>
              <div>
                <div class="headline">Zuul Gateway</div>
                <p class="subheading">
                  Technologies used:
                  <b>Java, Springboot, Gradle, JUnit, Elastic Beanstalk</b>
                </p>
                <div
                  class="subheading"
                >A gateway service to direct api calls to the correct microservice.</div>
              </div>
            </v-card-title>
            <v-card-title primary-title>
              <div>
                <div class="headline">Technology Microservice</div>
                <p class="subheading">
                  Technologies used:
                  <b>Java, Springboot, Gradle, JUnit, PostgreSQL, Elastic Beanstalk</b>
                </p>
                <div
                  class="subheading"
                >A RESTful webservice responsible for data about web technologies.</div>
              </div>
            </v-card-title>
            <v-card-title primary-title>
              <div>
                <div class="headline">Eureka Microservice</div>
                <p class="subheading">
                  Technologies used:
                  <b>Java, Springboot, Gradle, JUnit, Elastic Beanstalk</b>
                </p>
                <div
                  class="subheading"
                >A discovery service used to moniter and keep track of registerd microservices.</div>
              </div>
            </v-card-title>
            <v-card-title primary-title>
              <div>
                <div class="headline">Storage/Distribution</div>
                <p class="subheading">
                  Technologies used:
                  <b>Cloudfront, S3 Bucket</b>
                </p>
                <div class="subheading">A cloud storage solution to host static images.</div>
              </div>
            </v-card-title>
            <v-card-title primary-title>
              <div>
                <div class="headline">Ebook Microservice</div>
                <div class="subheading">Under development...</div>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-flex>

      <v-flex xs12 lg8>
        <v-flex xs12 lg12>
          <v-img :src="image" contain></v-img>
        </v-flex>

        <br />
 

        <v-flex xs12 lg12>
          <About />
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    image: require("~/assets/Vyperion-Architecture.jpeg")
  }),
  components: {
   About: () => import("~/components/index/About")
  }
};
</script>

<style>
</style>
