<template>
  <v-container grid-list-lg fluid>
    <v-layout row wrap>
      <Head/>
      <Cards/>
      <Carousel/>
      <!-- <About/> -->
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({}),
  components: {
    Head: () => import("~/components/index/Head"),
    Cards: () => import("~/components/index/Cards"),
    Carousel: () => import("~/components/index/Carousel"),
    About: () => import("~/components/index/About")
  }
};
</script>

<style scoped>
</style>
