<template>
  <v-container fluid grid-list-lg>
    <!-- <h1>hit type index {{$route.params.type}}</h1> -->

    <!-- <v-toolbar class="text-md-center align-center align-self-center justify-center">
      <v-toolbar-title class="text-md-center align-center align-self-center justify-center">
        <h3 class="display-2 text-md-center align-center align-self-center justify-center">{{type.name}}</h3>
      </v-toolbar-title>
    </v-toolbar>-->
    <h3 class="display-2 text-md-center">{{type.name}}</h3>
    <br>

    <v-layout row wrap>
      <v-flex xs12 v-for="subtype in type.subtype" :key="subtype.id">
        <v-toolbar dense>
          <v-toolbar-title>{{subtype.name}}</v-toolbar-title>

        </v-toolbar>

        <v-container grid-list-lg fluid>
          <v-layout row wrap>
            <v-flex xs12 lg4  v-for="technology in subtype.technologies" :key="technology.id">
              <v-hover>
                <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 24 : 2}`" light>
                  <v-card-actions class="title">{{technology.name}}</v-card-actions>
                  <nuxt-link :to="'/technology/' + technology.id">
                    <v-img :src="technology.image" height="200px" contain></v-img>
                  </nuxt-link>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn :href="technology.website" target="_blank" icon>
                      <v-icon>exit_to_app</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-hover>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import TechnologyService from "~/services/TechnologyService";
const techService = new TechnologyService();

export default {
  data: () => ({
    type: {}
  }),
  created() {
    this.$axios
      .get("/tech/type/" + this.$route.params.type)
      .then(res => {
        this.type = res.data;
      })
      .catch(error => (this.type = error));
  }
};
</script>

<style>
</style>
