<template>
  <v-card>
    <!-- <v-responsive> -->
      <v-container grid-list-md text-xs-center fluid>
        <v-layout row wrap>
          <v-flex xs12 md3>
            <v-hover>
              <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 24 : 2}`" light>
                <v-card-actions class="title">{{technology.name}}</v-card-actions>
                <nuxt-link :to="'/technology/' + technology.id">
                  <v-img :src="technology.image" height="200px" contain></v-img>
                </nuxt-link>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn :href="technology.website" target="_blank" icon>
                    <v-icon>exit_to_app</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-hover>
          </v-flex>
          <v-flex xs12 md9>
            <v-card-text class="display-3">{{technology.name}}</v-card-text>
            <v-card-text class="title">{{technology.description}}</v-card-text>
            <!-- <v-card-text class="subheading">{{data.website}}</v-card-text> -->
          </v-flex>
        </v-layout>
      </v-container>
    <!-- </v-responsive> -->
  </v-card>
</template>

<script>
export default {
  data: () => ({
    technology: {}
  }),
  created() {
    this.$axios
      .get("/tech/technology/" + this.$route.params.technology)
      .then(res => {
        this.technology = res.data;
      })
      .catch(error => (this.technology = error));
  }
};
</script>

<style>
</style>
