<template>
  <v-container grid-list-lg fluid>
    <v-layout row wrap>
      <v-flex xs12 lg3 v-for="item in data" :key="item.id">
        <n-link :to="link+item.id">
          <v-hover>
            <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 24: 2} `">
              <v-card-title
                primary-title
                class="title font-weight-light justify-center align-self-center"
              >{{item.name}}</v-card-title>
              <v-card-text class="subheading">{{item.description}}</v-card-text>
            </v-card>
          </v-hover>
        </n-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    data: [],
    link: "/technology/type/"
  }),
  methods: {
    getData() {
      this.$axios
        .get("tech/type/")
        .then(res => {
          this.data = res.data;
        })
        .catch(error => console.log(error));
    }
  },
  created() {
    this.getData();
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
